.expenses {
  margin: 2rem;
}

.title {
  margin: 3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 12rem;
  background-color: antiquewhite;
  border: 1px solid rgba(232, 96, 96, 0.5);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.sortBlock {
  display: flex;
}

.sortByOptions {
  margin-right: 2rem;
}

.sortByOptions select,
.sortByCategory select,
.search input {
  margin-left: 1rem;
}

.sum {
  margin: 2rem 0;
}

.search {
  margin-left: 2rem;
}

input {
  min-width: 9rem;
}

.image {
  height: 14rem;
  width: 10rem;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  background-color: rgba(229, 229, 229, 0.2);
  border-radius: 1rem;
  border: 1px solid rgba(191, 191, 191, 0.2);
  box-shadow: 0px 0px 10px rgba(83, 98, 124, 0.2);
  margin: 1rem;
  padding: 1rem;
  width: 15rem;
}

.book:hover {
  background-color: white;
  cursor: pointer;
}
