.image {
  height: 5rem;
  width: 5rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 4rem;
}

.card {
  border-radius: 1rem;
  border: 1px solid rgb(198, 224, 191);
  margin: 1rem;
  padding: 1rem;
  width: 9rem;
}

.button {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  width: 10.5rem;
}
